@model List<Wagenpark.Models.Lodges>


<div class="container">

    <div class="row">

        <div class="col-sm-5">





        </div>

        <div class="col-sm-7">

           


        </div>


    </div>



</div>



@{
    ViewBag.Title = "Boeken";
}

<h2>Boeken</h2>

